[Unit]
Description=RustDesk unattended Wayland preview
After=network.target systemd-user-sessions.service
ConditionFileIsExecutable=/usr/bin/rustdesk

[Service]
Type=simple
ExecStart=/usr/bin/rustdesk --service
KillMode=mixed
TimeoutStopSec=30
User=root
LimitNOFILE=100000
Environment="PULSE_LATENCY_MSEC=60" "PIPEWIRE_LATENCY=1024/48000"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
